__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
Thumbs.db
.ipynb_checkpoints/
*.pid
.ruff_cache/
.mypy_cache/
.idea/
.vscode/
.env
